<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/common.css">
</head>

<body>
    <header>
        <h1>user dashboard for users</h1>
        <a class="btn btn-primary" href="/logout">
            logout
        </a>
    </header>
</body>

</html>